.btn.btn-secondary.dropdown-toggle{
  border: transparent;
}
.badge-mail {
   background: #6a5acd;
   border-radius:999px;
   position: relative;
   top: -10px;
   left: -10px;
}
.badge-notify {
   background: #D26E8C;
   border-radius:999px;
   position: relative;
   top: -10px;
   left: -11px;
}
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.navbar-brand {
  padding: 0 0 0 10px;
}
img {
  border-radius: 0px;
  height: 40px; 
  margin: 5px 3px 5px 3px;
  position: absolute;
  width: 40px;
  top: 0;
}