.btn.btn-secondary.dropdown-toggle{
  border: transparent;
}
.fa-stack[data-count]:after{
  position:absolute;
  right: -15%;
  top:1%;
  content: attr(data-count);
  font-size: 60%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background: #6a5acd;
  text-align:center;
  min-width:2em;
  font-weight:bold;
}
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}